{% extends 'mailing/base.html' %}
{% load my_tags %}
{% block content %}
    <div class="row mt-2">
        <div class="col m-2">
            <h1>Журнал</h1>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Рассылка</th>
                        <th>Время попытки</th>
                        <th>Статус</th>
                        <th>Ответ Сервера</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                    <tr>
                        <td>{{ object.sender }}</td>
                        <td>{{ object.last_attempt }}</td>
                        <td>{{ object.attempt_status }}</td>
                        <td>{{ object.server_respond }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}