{% extends 'mailing/base.html' %}
{% block title %}
    Рассылки
{% endblock %}
{% block main %}
    <div class="row mt-2">
        <div class="col m-2">
            <h1>Рассылки</h1>
            <div class="row mt-2">
        <div class="col m-2">
            <a class="btn btn-success" href="{% url 'mailing:add_mailing' %}">Добавить рассылку</a>
        </div>
    </div>
            <table class="table table-reflow">
                <thead>
                    <tr class="table-active">
                        <th>Начало рассылки</th>
                        <th>Окончание рассылки</th>
                        <th>Периодичность</th>
                        <th>Статус</th>
                        <th>Сообщение</th>
                        <th>Клиенты</th>
                        <th>Удалить</th>
                        <th>Редактировать</th>
                        <th>Отправить</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                    <tr class="{% if object.get_status == 'created' %}bg-warning
                    {% elif object.get_status == 'commenced' %}bg-success
                    {% elif object.get_status == 'completed' %}bg-danger
                    {% endif %}">
                        <td>{{ object.commence_time }}</td>
                        <td>{{ object.completion_time }}</td>
                        <td>{{ object.frequency }}</td>
                        <td>{{ object.get_status }}</td>
                        <td>{{ object.message }}</td>
                        <td>
                            {% for client in object.clients.all|slice:":3" %}
                            {{ client }}<br>
                            {% endfor %}
                        </td>
                        <td><a class="btn btn-danger" href="{% url 'mailing:delete_mailing' object.pk %}">Удалить</a></td>
                        <td><a class="btn btn-primary" href="{% url 'mailing:edit_mailing' object.pk %}">Редактировать</a></td>
                        <td>
                            {% if object.get_status == 'started' %}
                            <a class="btn btn-warning" href="#">Отправить</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
