{% extends 'mailing/base.html' %}
{% block title %}
    Удаление
{% endblock %}
{% block main %}
<div class="col-12" style="margin-top: 50px;">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <h3 class="card-header">{{ object.subject }}</h3>
                <p class="card-text">{{ object.text }}</p>
                <br>
                <div class="card-footer text-muted">
                    <a class="btn btn-danger" href="{% url 'mailing:delete_message' object.id %}">Удалить</a>
                    <a class="btn btn-primary" href="{% url 'mailing:edit_message' object.id %}">Редактировать</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
