{% extends 'mailing/base.html' %}
{% load my_tags %}
{% block content %}
    <div class="row mt-2">
        <div class="col m-2">
            <h1>Письма</h1>
              <div class="col m-2">
                <a type="button" class="btn btn-outline-success" href="{% url 'mailing:create_message' %}">Добавить письмо</a>
              </div>
                <div class="card">
                    {% for object in object_list %}
                     <div class="card-body">
                       <h4 class="bg-success text-white">{{ object.subject }}</h4>
                       <p class="border border-success">
                           {{ object.message | split }} ...
                       </p>
                        {% if object.is_active %}
                            <span class="badge badge-pill badge-primary">Актуально</span>
                        {% else %}
                            <span class="badge badge-pill badge-danger">В архиве</span>
                        {% endif %}
                        <a class="btn btn-primary" href="{% url 'mailing:message_view' object.pk %}">Подробнее</a>
                        <a class="btn btn-warning" href="{% url 'mailing:edit_message' object.pk %}">Изменить</a>
                        <a class="btn btn-danger" href="{% url 'mailing:delete_message' object.pk %}">Удалить</a>
                     </div>
                   </div>
                    {% endfor %}

        </div>
    </div>


{% endblock %}