{% extends 'mailing/base.html' %}
{% block title %}
    Сообщения
{% endblock %}
{% block main %}
    <div class="row mt-2">
        <div class="col m-2">
            <h1>Письма</h1>
            <div class="row mt-2">
                <div class="col m-2">
                    <a class="btn btn-success" href="{% url 'mailing:add_message' %}">Добавить письмо</a>
                </div>
            </div>
            <table class="table table-reflow">

                <thead>
                    <tr class="table-active">
                        <th>Тема письма</th>
                        <th>Текст</th>
                        <th>Редактировать</th>
                        <th>Удалить</th>
                    </tr>
                </thead>
                <tbody>

                    {% for object in object_list %}
                    <tr>
                        <th scope="row">{{ object.subject }}</th>
                        <td>{{ object.text | truncatechars:20 }}
                            <a href="{% url 'mailing:detail_message' object.id %}">Развернуть</a></td>
                        <td><a class="btn btn-primary" href="{% url 'mailing:edit_message' object.id %}">Редактировать</a></td>
                        <td><a class="btn btn-outline-danger" href="{% url 'mailing:delete_message' object.id %}">Удалить</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



{% endblock %}
